/EcoSolutionApi/EcoSolutionApi/obj
/EcoSolutionApi/EcoSolutionApi/bin
/EcoSolutionApi/EcoSolution.Service/bin
/EcoSolutionApi/EcoSolution.Service/obj
/EcoSolutionApi/EcoSolution.Infra.Data/bin
/EcoSolutionApi/EcoSolution.Infra.Data/obj
/EcoSolutionApi/EcoSolution.Infra.CrossCutting.Ioc/bin
/EcoSolutionApi/EcoSolution.Infra.CrossCutting.Ioc/obj
/EcoSolutionApi/EcoSolution.Infra.CrossCutting/bin
/EcoSolutionApi/EcoSolution.Infra.CrossCutting/obj
/EcoSolutionApi/EcoSolution.Domain/bin
/EcoSolutionApi/EcoSolution.Domain/obj
/EcoSolutionApi/.vs/EcoSolutionApi/FileContentIndex/7fb2fa0e-f1e3-47d0-9cc4-e9ca4a0a5689.vsidx
/EcoSolutionApi/.vs/EcoSolutionApi/FileContentIndex/aa47751e-65b3-4295-868e-40d18fcabeb3.vsidx
/EcoSolutionApi/.vs/EcoSolutionApi/FileContentIndex/ba7d1f6d-d80d-41f7-b454-3e80d7de4a92.vsidx
/EcoSolutionApi/.vs
