/.vs
/EcoSolution.Domain/bin
/EcoSolution.Domain/obj
/EcoSolution.Infra.CrossCutting/bin
/EcoSolution.Infra.CrossCutting/obj
/EcoSolution.Infra.CrossCutting.Ioc/obj
/EcoSolution.Infra.CrossCutting.Ioc/bin
/EcoSolution.Infra.Data/bin
/EcoSolution.Infra.Data/obj
/EcoSolution.Service/bin
/EcoSolution.Service/obj
/EcoSolutionApi/bin
/EcoSolutionApi/obj
